<!--modify from https://codepen.io/developingidea/pen/meAIn -->
<!DOCTYPE html>
<html>
   <head>
      <div class="navbar navbar-inverse" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/">playlistX</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li><a href="/">Artist_Recommend</a></li>
                  <li><a href="/slide_recommend">Slide_Recommend</a></li>
                  <li><a href="/dev">Dev</a></li>
               </ul>
            </div>
         </div>
      </div>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
      <link rel="stylesheet" href="/templates/style.css">
      <!-- <link rel="stylesheet" href="/templates/slide_recommend.css"> -->
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.js"></script>
   </head>
   <body>
      <header>
         <h1>Song Recommendation</h1>
         <h3>//Slide_Recommend</h3>
         <h4>
            via Python/Flask/Spotify API 
         </h4>
         <a class="btn btn-gray btn-gray" href="https://github.com/yennanliu/spotify_recommend_playlist">
         CHECK ME ON GITHUB
         </a>
      </header>

      <div id="container2">
         <div class="buddy" style="display: block;">
            <div class="avatar"  style="display: block; background-image: url(https://t2.genius.com/unsafe/600x600/https%3A%2F%2Fimages.genius.com%2F9f8cba3d7fe4e1fd4bc450c69d409af6.1000x1000x1.jpg)"></div>
         </div>
         <div class="buddy">
            <div class="avatar" style="display: block; background-image: url(http://www.vinyl-minded.com/images/2/220869.jpg)"></div>
         </div>
         <div class="buddy">
            <div class="avatar" style="display: block; background-image: url(http://w1nd.cc/promo/347.jpg)"></div>
         </div>
         <div class="buddy">
            <div class="avatar" style="display: block; background-image: url(http://ell.h-cdn.co/assets/cm/15/01/54a769be3112d_-_elle-rata-insta-1-24375723.png)"></div>
         </div>
         <div class="buddy">
            <div class="avatar" style="display: block; background-image: url(http://image13.m1905.cn/mdb/uploadfile/2017/0516/thumb_1_300_410_20170516090500773498.jpg)"></div>
         </div>
         {% for i,j in data.iterrows() %}
         <!-- <td>{{i}}</td> -->
         <div class="buddy">
         <!-- jinja for loop insert value into div  -->
         <!-- https://stackoverflow.com/questions/40486246/using-jinja2-for-unqiue-div-ids-during-loop -->
            <h6 style="color:#0C0300" > <I> Artist :  {{ j.artist_name }} </I></h6>
            <h6 style="color:#0C0300" > <I> Album :  {{ j.album_name }} </I></h6>
            <div class="avatar" style="display: block; background-image: url({{j.pic_url}})".format(i)>
            <audio controls="controls autoplay">
            <source src= {{ j.preview_url }} type="audio/mpeg"/>
            </audio>
            
         </div>
      </div>
      {% endfor %}
      </div>
      <section class="dreams">
      <!--<ul id="new-releases" class="sp-container"> -->
      <ul id="recommend2" class="sp-container">
      </ul>
      </section>
      <script src="/templates/utility.js"></script>
      <script src="/templates/client.js"></script>
      <script type="text/javascript"> 
         //https://stackoverflow.com/questions/42499535/passing-a-json-object-from-flask-to-javascript
         //var pic_url = ('{{ data }}').replace(/&#39;/g,"'");
         //var pic_url2 = ('data'); 
         
      </script>
   </body>
</html>